@use '../styles/variables';

.listItemContainer {
    display: flex;
    border: 2px solid variables.$primary-color;
    border-radius: 10px;
    height: 64px;
    padding: 0 8px;
    gap: 16px;
    align-items: center;

    .imageWrapper {
        width: 64px;
        height: 100%;
    }

    .image {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .infoWrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
    }
}